/* FONTS */

@font-face {
  font-family: 'Greatest richmond';
  src: url('../fonts/greatest_richmond/Greatest\ Richmond.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mazzard soft H';
  src: url('../fonts/mazzard-soft/MazzardSoftH-Regular.otf');
}

@font-face {
  font-family: 'Mazzard soft H';
  src: url('../fonts/mazzard-soft/MazzardSoftH-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Mazzard soft H';
  src: url('../fonts/mazzard-soft/MazzardSoftH-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mazzard soft H';
  src: url('../fonts/mazzard-soft/MazzardSoftH-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mazzard soft H';
  src: url('../fonts/mazzard-soft/MazzardSoftH-Bold.otf');
  font-weight: 700;
}
