// COLORS
$color-primary: #0a472e;
$color-secondary: #bac34e;
$color-dark-gray: #555555;
$color-gray: #aaaaaa;
$color-mid-gray: #e2e2e2;
$color-light-gray: #f4f4f4;
$color-gold: #e0bf96;
$color-body: #fcf5e9;


// Container
$width-container: 1450px;
$p-container: 90px;

// FONTS
$font-mazzard: 'Mazzard soft H';
$font-richmond: 'Greatest richmond';

